*.o
*.a
*.d
*~
.#*
\#*#
md_test_dir
Makefile.mk
core
vgcore.*
.depends
crop
binpatch
chunk
dbg
direct
dbg_core
get_dominator
check_bisimilarity
dump_irexpr
dump_state_machine
extra_config.h
direct_cd
timing.txt
static
machines/
patches/
canonicalise_crash_summary0
canonicalise_crash_summary2
canonicalise_crash_summary3
canonicalise_crash_summary4
case_split_summaries
compare_crash_summaries
cross_check_machines
build_schedule
canonicalise_types_table
ced_to_cep

